/node_modules/
/.idea/
/package-lock.json
/srv/.dockerignore
.env.prod
.env
/public/uploads
/public/drugs
angel-154d6-firebase-adminsdk-75sdk-bac7a51b51.json
./angel-154d6-firebase-adminsdk-75sdk-bac7a51b51.json